* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top {
  background-color: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

.left__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  padding-right: 41px;
}

.ind {
  margin-top: 18px;
}

.src {
  margin-top: 27px;
}

.link1 {
  margin-right: 33px;
}

.menu {
  margin-top: 30px;
  padding-right: 26px;
}

.menu_box {
  background-color: #ffffff;
  padding: 1px;
  position: absolute;
  top: 68px;
  display: none;
  width: 232px;
}

.menu:hover .menu_box {
  display: block;
}

.menu_box:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -4px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_heading {
  padding-left: 33px;
  padding-top: 37px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: sans-serif;
}

.categories {
  font-size: 14px;
  font-family: sans-serif;
  color: #F16D7F;
  padding-top: 24px;
  padding-left: 33px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.menu_link {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 27px;
  color: #6F6E6E;
  padding-left: 55px;
  padding-right: 30px;
  display: block;
  text-decoration: none;
}

.menu_link:hover {
  color: #d15757;
}

.reg {
  margin-top: 26px;
}

.top__back {
  background-color: #F1E4E6;
}

.top__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.top__text {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 63px;
  margin-bottom: 381px;
}

.red__element {
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
}

.top__par {
  font-family: sans-serif;
  margin-top: 20px;
  margin-left: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #222222;
  text-transform: uppercase;
}

.text1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.text2 {
  color: #F16D7F;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.img1 {
  position: relative;
}

.img__text {
  text-transform: uppercase;
  position: absolute;
  top: 103px;
  left: 103px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-family: sans-serif;
}

.img__text__up {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

.text2 {
  top: 105px;
  left: 125px;
}

.content {
  margin-top: 30px;
  position: relative;
}

.text3 {
  top: 65px;
  left: 489px;
}

.fet {
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-top: 96px;
}

.fet_text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  font-family: sans-serif;
}

.link_card {
  text-decoration: none;
}

.card {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total_text_card {
  margin-left: 16px;
}

.text_card1 {
  text-transform: uppercase;
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.descr_card1 {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  max-width: 324px;
  margin-top: 13px;
  font-family: sans-serif;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */